header
    .container
        .header
            .header-burger
                button.burger
                    svg(width='24' height='24')
                        use(xlink:href='img/sprites/sprite.svg#ic_menu')
            //.header-darkMode
                svg(width='24' height='24')
                    use(xlink:href='img/sprites/sprite.svg#ic_dark')