.section-h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 110%
}

.section-h2 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 110%
}

.section-h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    margin: 20px 0
}