.mobileMenu
  .mobileMenu-header
    .mobileMenu-header__toggle
      button.burger
        svg(width='24' height='24')
          use(xlink:href='img/sprites/sprite.svg#ic_close')
  .mobileMenu-nav
    ul.mobileMenu-nav__ul
      li
        a(href='#about')
          svg(width='24' height='24')
            use(xlink:href='img/sprites/sprite.svg#ic_account')
          span Обо мне
      span.divider
      li
        a(href='#projects')
          svg(width='24' height='24')
            use(xlink:href='img/sprites/sprite.svg#ic_apps')
          span Проекты
      span.divider
  //.mobileMenu-footer
    ul.mobileMenu-nav__ul
      li
        a(style='width: 100%;cursor:pointer;')
          svg(width='24' height='24')
            use(xlink:href='img/sprites/sprite.svg#ic_dark')
          span Темная тема
