@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Product Sans"), url(../fonts/ProductSans-Regular.woff) format("woff");
  font-display: swap
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Product Sans"), url(../fonts/ProductSans-Medium.woff) format("woff");
  font-display: swap
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Product Sans"), url(../fonts/ProductSans-Bold.woff) format("woff");
  font-display: swap
}